/*.item{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    border: 1px solid red;*/
/*    width: 100%;*/
/*}*/

.image{

}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name{

}

.price{

}

.info{

}

.button{

}