.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery{

}

.history{

}

.descriptionContainer{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.description{

}

.seller{

}